/* Common Styles */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background/background-image.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    font-family: "Open Sans", sans-serif, Arial;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo > .nav-btn {
    display: none;
}

.logo > .nav-btn > button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 650px) {
    .logo > .nav-btn {
        display: block;
    }
    #main-nav > .nav-container {
        display: block;
        justify-content: center;
        grid-template-rows: .5fr;
        background-color: aliceblue;
        border-radius: 15px;
    }
    /* Top column */
    #main-nav > .nav-container > .logo {
        text-align: center;
        width: 100%;
    }
    /* Middle column */
    #main-nav > .nav-container > .navbar-wrapper {
        display: none;
        justify-content: center;
        width: 100%;
    }
    #main-nav > .nav-container > .navbar-wrapper ul {
        display: block;
        text-align: center;
        width: 100%;
    }
    #main-nav > .nav-container > .navbar-wrapper ul li {
        width: 100%;
        background-color: aliceblue;
        margin: 5px 0;
        padding: 15px;
        border-bottom: 1px solid black;
    }
    /* Bottom column */
    #main-nav > .nav-container > .sign-wrapper {
        display: none;
        justify-content: center;
    }
    #main-nav > .nav-container > .sign-wrapper ul {
        display: block;
        text-align: center;
        width: 100%;
    }
    #main-nav > .nav-container > .sign-wrapper ul li {
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid black;
    }
}